In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Data Acquisition
Live Demos

In [12]:
cats_and_dogs = pd.DataFrame({ 'cats': [1, 2, 3], 'dogs': [10, 20, 30] })
print(cats_and_dogs)

print(type(cats_and_dogs))
print(cats_and_dogs.shape)

   cats  dogs
0     1    10
1     2    20
2     3    30
<class 'pandas.core.frame.DataFrame'>
(3, 2)

In [13]:
numbers = pd.Series([0, 4, 4.2, 42])
print(numbers)
print(type(numbers))

print(type(cats_and_dogs['cats']))

0     0.0
1     4.0
2     4.2
3    42.0
dtype: float64
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [18]:
accidents_data = pd.read_csv('data/accidents.csv')
print(accidents_data)
print(accidents_data['Miles from Home'])
print(accidents_data.loc[0]) #Returns a row (loc = location)
print(accidents_data.loc[3, '% of Accidents']) #Returns a data from specific row/col intersection

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17
0    less than 1
1         1 to 5
2        6 to 10
3       11 to 15
4       16 to 20
5        over 20
Name: Miles from Home, dtype: object
Miles from Home    less than 1
% of Accidents              23
Name: 0, dtype: object
8

In [19]:
print(accidents_data.index)
print(accidents_data.columns)

RangeIndex(start=0, stop=6, step=1)
Index(['Miles from Home', '% of Accidents'], dtype='object')

In [27]:
green_trip_data = pd.read_excel("data/green_tripdata_2015-09.xls")
print(green_trip_data)

       VendorID lpep_pickup_datetime Lpep_dropoff_datetime Store_and_fwd_flag  \
0             2  2015-09-01 00:02:34   2015-09-01 00:02:38                  N
1             2  2015-09-01 00:04:20   2015-09-01 00:04:24                  N
2             2  2015-09-01 00:01:50   2015-09-01 00:04:24                  N
3             2  2015-09-01 00:02:36   2015-09-01 00:06:42                  N
4             2  2015-09-01 00:00:14   2015-09-01 00:04:20                  N
...         ...                  ...                   ...                ...
65530         2  2015-09-02 16:51:59   2015-09-02 17:04:00                  N
65531         2  2015-09-02 16:53:51   2015-09-02 17:04:32                  N
65532         2  2015-09-02 16:57:21   2015-09-02 17:05:03                  N
65533         2  2015-09-02 16:51:42   2015-09-02 17:05:28                  N
65534         2  2015-09-02 16:40:36   2015-09-02 16:48:20                  N

       RateCodeID  Pickup_longitude  Pickup_latitude  Dropoff_longitude  \
0               5        -73.979485        40.684956         -73.979431
1               5        -74.010796        40.912216         -74.010780
2               1        -73.921410        40.766708         -73.914413
3               1        -73.921387        40.766678         -73.931427
4               1        -73.955482        40.714046         -73.944412
...           ...               ...              ...                ...
65530           1        -73.829605        40.759716         -73.832214
65531           1        -73.962112        40.805710         -73.984970
65532           1        -73.829941        40.713718         -73.831917
65533           1        -73.860748        40.832661         -73.845169
65534           1        -73.941887        40.822948         -73.937180

       Dropoff_latitude  Passenger_count  ...  Fare_amount  Extra  MTA_tax  \
0             40.685020                1  ...          7.8    0.0      0.0
1             40.912212                1  ...         45.0    0.0      0.0
2             40.764687                1  ...          4.0    0.5      0.5
3             40.771584                1  ...          5.0    0.5      0.5
4             40.714729                1  ...          5.0    0.5      0.5
...                 ...              ...  ...          ...    ...      ...
65530         40.751514                1  ...          9.0    1.0      0.5
65531         40.769550                1  ...         10.5    1.0      0.5
65532         40.702145                1  ...          7.0    1.0      0.5
65533         40.845306                1  ...         10.5    1.0      0.5
65534         40.804462                1  ...          8.0    1.0      0.5

       Tip_amount  Tolls_amount  Ehail_fee  improvement_surcharge  \
0            1.95           0.0        NaN                    0.0
1            0.00           0.0        NaN                    0.0
2            0.50           0.0        NaN                    0.3
3            0.00           0.0        NaN                    0.3
4            0.00           0.0        NaN                    0.3
...           ...           ...        ...                    ...
65530        0.00           0.0        NaN                    0.3
65531        2.46           0.0        NaN                    0.3
65532        2.20           0.0        NaN                    0.3
65533        2.46           0.0        NaN                    0.3
65534        0.00           0.0        NaN                    0.3

       Total_amount  Payment_type  Trip_type
0              9.75             1           2
1             45.00             1           2
2              5.80             1           1
3              6.30             2           1
4              6.30             2           1
...             ...           ...         ...
65530         10.80             2           1
65531         14.76             1           1
65532         11.00             1           1
65533         14.76             1           1
65534          9.80             2           1

[65535 rows x 21 columns]